* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  max-width: 1200px;
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0; /* full screen */
  }
}
.header{
  width: 100%;
  border:solid black;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: gold;
}

.luxury-fresh{
  font-size: 1rem;
}
