* {
  margin: 0 auto;
  padding: 0;



}
.header{
  width: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: gold;
}

.luxury-fresh{
  font-size: 1rem;
  width:100%;
}
.main-container {
  width:100%;
  border: black solid;
  min-height:100vh;
}



@media (min-width: 601px) and (max-width: 1024px) {
  .main-container {
    width:100%;
    min-height:100vh;
    border: black solid;
  }
  }


@media (min-width: 1025px) and (max-width: 1440px) {
  .main-container {
    width:70%;
    min-height:100vh;
    border: black solid;
  }
  }
  @media (min-width: 1441px) {
    .main-container {
      width: 65%;
      min-height:100vh;
      background-color: white;
    }
  }
