<div class="header">
  <a class="luxury-fresh" href="/" > Luxury Fresh </a>
  <div>
  <nav>
   <button class="bar" > <i class="fa-solid fa-bars"></i> </button>
  <ul class="list hidden">
   <a href="/contacts"> <li>Contacts</li> </a>
   <a href="/availability"> <li>Availability</li> </a>
   <a href="/admin/services"> <li>Services</li> </a>
   <a href="#"><li>Logout</li> </a>
  </ul>
</nav>
</div>
</div>
