<div class="header">
  <h1 class="luxury-fresh"> Luxury Fresh </h1>
  <div>
  <nav>
   <button class="bar" > <i class="fa-solid fa-bars"></i> </button>
  <ul class="list hidden">
   <a href="/contacts"> <li>Contacts</li> </a>
   <a href="#"> <li>Schedules</li> </a>
   <a href="#"> <li>Availibility</li> </a>
   <a href="#"><li>Logout</li> </a>
  </ul>
</nav>
</div>
</div>
