<div class="timeslot">
  <ul>
  <%  data.forEach(appointment => { %>
  <li> testing </li>
  <li>Appointment: <%= appointment.time_slot_id %></li>
  <li>Appointment: <%= appointment.service %></li>
  <% }) %>
</ul>
</div>
<!--
  -create service table
  - add migration service-id to appointment table
 -->
