<div class="timeslot">
  <ul>
    <%  data.forEach(appointment => { %>
      <li>Appointment: <%= appointment.time_slot_id %></li>
      <li>service: <%= appointment.service_id %></li>
      <% }) %>
    </ul>
</div>
