<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Availability</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/availability.css">
  <script src="https://kit.fontawesome.com/cf9a0dc4e8.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="main-container">
    <header>
      <%- include('partials/header') %>
    </header>

    <article>
      <h1>Available Dates</h1>
      <div>
        <%- include('partials/availability-ejs/availability-list') %>
      </div>
    </article>

    <!-- Popup message container -->

    <footer></footer>
  </div>

  <script src="javascripts/navbar.js"></script>
  <script src="javascripts/availability.js"></script>

</body>
</html>
