<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/cf9a0dc4e8.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href ="style.css"/>
</head>
<body>
  <div class="main-container">
  <header>
    <%- include('partials/header') %>
  </header>
  <article>
    <div class="contact-list">
      <%- include('partials/contact-list') %>
    </div>




  </article>
  <footer></footer>
</div>
<script src="navbar.js" ></script>
</body>
</html>
