<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <script src="https://kit.fontawesome.com/cf9a0dc4e8.js" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href ="style.css"/>
</head>
<body>
  <div class="main-container">
  <header>
    <div class="header">
      <h1 class="luxury-fresh"> Luxury Fresh </h1>
      <div>
      <nav>
       <button> <i class="fa-solid fa-bars"></i> </button>
      <ul class="list">
       <a href="#"> <li>Users</li> </a>
       <a href="#"> <li>Schedules</li> </a>
       <a href="#"><li>Logout</li> </a>
      </ul>
    </nav>
  </div>


    </div>
  </header>
  <article>
    <div>

    </div>

  </article>
  <footer></footer>
</div>
</body>
</html>
<!--
- make nav bar
- "I dont sell haircuts i sell convenience"
- book now button
- contact info box after button click
- phone number
- first name
- last name
- email
- select profile pic
- "" what type of service your looking for?""
- select date and calendar
- time slots (change screen display )
 -->
