<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="main-container">
  <header> </header>
  <article>
    <h1> Luxury Fresh </h1>

  </article>
  <footer></footer>
</div>
</body>
</html>
<!--
- make nav bar
- "I dont sell haircuts i sell convenience"
- book now button
- contact info box after button click
- phone number
- first name
- last name
- email
- select profile pic
- "" what type of service your looking for?""
- select date and calendar
- time slots (change screen display )
 -->
