<input id="new-location-name" type="text" placeholder="Add new location">
<button id="add-location-btn">Add Location</button>

<ul id="location-list">
  <% locations.forEach(location => { %>
    <li>
      <%= location.address %>
      <span class="delete-btn" data-type="location" data-id="<%= location.id %>">✕</span>
    </li>
  <% }) %>
</ul>

<script src="/javascripts/locations-services/add-locations.js"></script>
