<input id="new-service-name" type="text" placeholder="Add new service">
<button id="add-service-btn">Add Service</button>

<ul id="service-list">
  <% services.forEach(service => { %>
    <li>
      <%= service.name %>
      <span class="delete-btn" data-type="service" data-id="<%= service.id %>">✕</span>
    </li>
  <% }) %>
</ul>

<script src="/javascripts/locations-services/add-services.js"></script>
<script src="/javascripts/locations-services/delete-items.js"></script>
